<tr>
  <td><%= link_to pool.name, pool %></td>
  <% if pool.poolType == 0 %>
    <td>PickEm</td>
  <% elsif pool.poolType == 1 %>
    <td>PickEmSpread</td>
  <% elsif pool.poolType == 2 %>
    <td>Survivor</td>
  <% else %>
    <td>SUP</td>
  <% end %>
  <% if pool.isPublic %>
    <td>Public</td>
  <% else %>
    <td>Private</td>
  <% end %>
</tr>
