<h1>All Pools</h1>

<% if @pools.count != 0 %>
<%= will_paginate %>

<div  class="pools">
<table border = "1"> 
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
  </tr>
  <%= render @pools %>
</table>

<%= will_paginate %>
<% else %>
  <p> There are no pools available!</p>
<% end %>
