<nav class="navbar navbar-fixed">
  <ul class="nav nav-pills">
    <li><%= link_to "Season #{@season.year}", season_path(season) %></li>
  </ul>
    <%= render "mgmt_curweek_state_menu", season: season, current_week: @week %>
</nav>