<% provide(:title, "Week #{@week.week_number} Games") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <section>
      <h1> Week <%= @week.week_number %> Games</h1>
      <% if @current_user.admin? %>
        <% if !@week.checkStateFinal %>
          <%= link_to "Edit week", edit_week_path(@week) %>
        <% end %>
        <% if @week.checkStatePend %>
          <% if @week.deleteSafe?(@season) %>
            <%= link_to "Delete week", @week, :method => :delete, 
                        :confirm => "Are you sure?", 
                        :title => "Delete week #{@week.week_number}" %>
          <% end %>
        <% end %>
      <% end %>
    </section>

    <section>
        <% if @week.checkStateClosed || @week.checkStateFinal %>
          <% showScores = true %>
        <% else %>
          <% showScores = false %>
        <% end  %>
        <%= render 'shared/games', week: @week, games: @games, nflTeams: true, showScores: showScores %>
    </section>
  </div>
</div>
