<% provide(:title, "Week #{@week.weekNumber} Games") %>
<div class="row">
  <aside class="span8">
    <section>
      <h1> Week <%= @week.weekNumber %> Games</h1>
      <% if @pool.isOwner?(current_user) %>
        <%= link_to "Edit week", edit_week_path(@week) %>
        <%= link_to "Delete week", @week, :method => :delete, 
                    :confirm => "Are you sure?", 
                    :title => "Delete week #{@week.weekNumber}" %>
      <% end %>
    </section>

    <section>
      <% @teams = NflTeam.all %>
      <% (@games).each do |game| %>
        <%= render 'shared/games', teams: @teams, game: game %>
      <% end %>
    </section>
  </aside>
  <div class="span4">
  </div>
</div>
