<div class="center hero-unit">
  <h1>Welcome to Football Pool Mania!</h1>
  <h2>
    Here you can test your football prognosticating skills against your friends
    and strangers alike. Join an existing pool or create one and invite your
    friends.

  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

