<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<% if !current_user.confirmed? %>
  <p>This user account needs to be confirmed before you can use this site.
  Please look for the email with the subject <i>"Confirm Registration" </i>from
     info@fbpm.com and click the Confirmation URL.  
  </p>
<% end %>
