<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Message from Pool Administrator for Pool: <%= @pool.name %></h3>
    <% paragraphs = @msg.split("\n") %>
    <% paragraphs.each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
    <p>Thanks, Pool Administrator</p>
  </body>
</html>