<div class="btn-group-sm">
  <% if season.weeks.count < season.number_of_weeks %>
    <%= link_to "Create new week", new_season_week_path(season), :class => "btn btn-primary",
                   :role => "button" %>
  <% end %>
  <%= link_to "Week:", "#", :class => "btn btn-primary",
                   :role => "button" %>
  <% if season.weeks.any? %>
    <% season.weeks.order(:week_number).each do |week| %>
      <%= link_to "#{week.week_number}", week_path(week), :class => "btn btn-primary",
                   :role => "button" %>
    <% end %>
  <% end %>
</div>
