
.awayTeamWon {
  width: "35%";
  text-align: right;
}

.awayScoreWon {
  width: "15%";
  text-align: right;
}

.awayTeamLost {
  width: "35%";
  text-align: right;
}

.awayScoreLost {
  width: "15%";
  text-align: right;
}

.homeTeamWon {
  width: "35%";
  text-align: left;
}

.homeScoreWon {
  width: "15%";
  text-align: left;
}

.homeTeamLost {
  width: "35%";
  text-align: left;
}

.homeScoreLost {
  width: "15%";
  text-align: left;
}

.gameDescriptor {
  width: "20%";
  text-align: center;
}